body {
    background-color: black;
}

#heading-h1 {
    color: white;
}

.ball {
    color: white;
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}